
/* font-family: "RobotoCondensedRegular"; */
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoSlabRegular"; */
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {height: 100%;}

body {
    height: 100%;
    font: 14px/18px 'RobotoSlabRegular', Times, sans-serif;
    background: #ccc;
}
ol, ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
    content:"";
    display: table;
}

.clearfix:after {clear:both;}

.left {float:left;}
.right {float: right;}

.container {
    width: 1170px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 125px;
    background-image: url(img/header.png);
}

.logo span {
    padding-top: 35px;
    float: left;
    text-transform: uppercase;
    font: bold 40px "RobotoCondensedRegular", sans-serif;
    color: #4e4e4e;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);

}
.logo span:hover {color: #1abb9c;}

.nav {
    padding-top: 47px;
    float: right;
}

.nav li {
    float: left ;
    margin-right: 20px;
}

.nav li:last-child { margin-right: 0;}

.nav a {
    text-transform: uppercase;
    font: bold 16px Arial, sans-serif;
    color: #4e4e4e;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.nav a:hover {color: #1abb9c;}

.slider {
    height: 475px;
    text-align: center;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
}

#fader {position: relative;}

#fader img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}
.box_text {
    position: absolute;
    z-index: 5;
    width: 100%;
    padding-top: 110px;
}
.slider h1 {
    font: bold 40px/40px 'RobotoSlabRegular', Arial, sans-serif;
    margin-bottom: 45px;
    color: #f3f3f3;
    text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);
}

.slider h3 {
    font: bold 32px/32px 'RobotoSlabRegular', Arial, sans-serif;
    margin-bottom: 45px;
    color: #a8a8a8;
    text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);
}

.btn {
    background: #3f8dbf;
    border: 1px solid #3f8dbf;
    font: 14px/14px 'RobotoSlabRegular', Arial, sans-serif;
    text-transform: uppercase;
    padding: 12px 27px;
    border-bottom: 5px solid #3678a3;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

.btn:hover {
    background: #2e7cae;
    border-bottom: 5px solid #3f8dbf;
}

h4.title {
    font: bold 18px/24px 'RobotoSlabRegular', Arial, sans-serif;
    color: #4e4e4e;
    padding-top: 80px;
}

#services {background: #f7f7f7;}

.services_item {
    position: relative;
    float: left;
    width: 25%;
    padding: 20px 35px 0;
    text-align: center;
    margin-top: 60px;
    border-bottom: 2px solid #dcdcdc;
    cursor: pointer;
}

.services_item p {
    font: 14px/20px 'RobotoSlabRegular', Arial, sans-serif;
    color: #4e4e4e;
    margin-bottom: 60px;
    margin-top: 25px;
}

.pellentesque a {
    position: absolute;
    top: 0;
    left: 35%;
    background: #9d9abf;
    width: 80px;
    height: 80px;
    padding: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pellentesque a:hover {background: #544f88;}

.consectetur a {
    position: absolute;
    top: 0;
    left: 35%;
    background: #d2514b;
    width: 80px;
    height: 80px;
    padding: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.consectetur a:hover {background: #e91c12;}

.tristiquet a {
    position: absolute;
    top: 0;
    left: 35%;
    background: #66a3c6;
    width: 80px;
    height: 80px;
    padding: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.tristiquet a:hover {background: #1c7bb2;}

.fermentum a {
    position: absolute;
    top: 0;
    left: 35%;
    background: #e8c04f;
    width: 80px;
    height: 80px;
    padding: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.fermentum a:hover {background: #fbca41;}

.fermentum  img {padding-top: 10px;}

#works {background: #f7f7f7;}

.works {padding-top: 60px;}

.works_item {
    float: left;
    width: 33%;
    height: auto;
    max-width: 100%;
    margin: 25px .5% 50px 0;
}

.works_item:nth-child(4n){margin-right: 0;}

.works h5 {
    font: bold 18px/24px 'RobotoSlabRegular', Arial, sans-serif;
    color: #4e4e4e;
    text-transform: uppercase;
}

.works_item h4.title {padding-top: 20px;}

h4.title span {
    font: 13px 'RobotoSlabRegular', Arial, sans-serif;
    color: #bcbcbc;
}

.works_item p {
    font: bold 14px/24px 'RobotoSlabRegular', Arial, sans-serif;
    color: #838383;
    padding-top: 15px;
}

#test_section {background: #efefef;}

.test_section {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.test_section h4 {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 100px;
    color: #dcdcdc;
}

.test_section p {
    font: 20px/28px 'RobotoSlabRegular', Arial, sans-serif;
    color: #a1a1a1;
    text-shadow: 0 1px 2px rgb(173, 170, 170);
    padding-bottom: 70px;
}

#footer {background: url("img/footer.jpg") repeat;}

.box_item {
    width: 25%;
    height: 345px;
    float: left;
    padding: 50px 20px;
    background: url("img/line.png") no-repeat center bottom;
}

h3.disc {
    font: bold 18px 'RobotoSlabRegular', Arial, sans-serif;
    color: #585858;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.box_item ul {
    font: 14px/20px 'RobotoSlabRegular', Arial, sans-serif;
    color: #cacaca;
}

.box_item li {
    padding-bottom: 25px;
}

.box_item img {
    padding-right: 15px;
}
.footer_copy ul {
    font: 14px 'RobotoSlabRegular', Arial, sans-serif;
    color: #cacaca;
    padding: 50px 0 50px;
}

